body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* 全局样式 */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

h1 {
  font-size: 28px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.hero {
  background-image: url("hero-bg.jpg");
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.features {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.feature-box {
  width: 300px;
  text-align: center;
  margin: 0 20px;
}

.feature-box img {
  width: 200px;
  height:200px;
  margin-bottom: 20px;
  border-radius: 5px;
  
}
	
.feature-box img:hover{
	cursor: pointer;
	transform: scale(1.2);
	transition: transform 0.3s;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}